/*
=======================================
 SIZE VARIABLES
=======================================
 0:  Spacers.
 1:  Fonts
 2:  Margins.
 3:  Borders.
================================
*/

/* 0 */
:root {
  --spacer:                     1rem;
  --spacer-x:                   var(--spacer);
  --spacer-y:                   var(--spacer);
}


/* 1 */
:root {
  --font-size-lg:               1.25rem;
  --font-size-sm:               0.875rem;
  --font-size-xs:               0.75rem;

  --font-size-h1:               2.5rem;
  --font-size-h2:               2rem;
  --font-size-h3:               1.75rem;
  --font-size-h4:               1.5rem;
  --font-size-h5:               1.25rem;
  --font-size-h6:               1rem;
}

/* 2 */
:root {
  --border-width:             1px;
}
