/*
=======================================
 SIZE VARIABLES
=======================================
 0:  Spacers.
 1:  Fonts
 2:  Margins.
 3:  Borders.
================================
*/

/* 0 */
:root {
  --spacer: 1rem;
  --spacer-x: var(--spacer);
  --spacer-y: var(--spacer);
}

/* 1 */
:root {
  --font-size-100: 0.750rem;
  --font-size-200: 0.875rem;
  --font-size-300: 1.000rem;

  --font-size-400: 1.250rem;
  --font-size-500: 1.500rem;
  --font-size-600: 1.750rem;
  --font-size-700: 2.000rem;
  --font-size-800: 2.500rem;
  --font-size-900: 3.000rem;

  --font-size-xs: var(--font-size-100);
  --font-size-sm: var(--font-size-200);
  --font-size-lg: var(--font-size-400);
}

/* 2 */
:root {
  --border-width-100: 1px;
  --border-width-200: 2px;
  --border-width-300: 3px;
  --border-width-400: 4px;
  --border-width-500: 5px;
  --border-width-600: 6px;
  --border-width-700: 7px;
  --border-width-800: 8px;
  --border-width-900: 9px;
}
